@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
    font-size: 0.9em;
    font-family: "Roboto", sans-serif;
    background: rgb(25, 14, 14);
    color: white;
    overflow-x: hidden;

    cursor: none;
}

body {
    transition: transform 1s ease;
    height: 100dvh;
    font-size: 14px;
}

body > *:not(page, hover) {
    font-family: "Courier New", Courier, monospace;
}

/* debug */
/* * {
	outline: yellow 1px solid;
} */
/* body {
  transform: translateY(-100vh);
} */


showcase {
    display: none;

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 10000;

    background-color: rgba(43, 24, 24, 0.979);

    align-items: center;
    justify-content: center;
}

showcase div {
    --size: max(min(70vh, 70vw), min(300px, 95vw));
    box-shadow: 9px 5px #323232;
    transition: box-shadow 1s ease;
}

showcase div:hover {
    box-shadow: 15px 10px #222222;
}

showcase img {
    width: var(--size);
    height: var(--size);
    aspect-ratio: 1/1;
    object-fit: cover;
    border: none;
    cursor: pointer;
}

showcase p {
    font-size: 1.7em;
    position: relative;
    background-color: black;
    width: calc(var(--size) - 14px);
    text-align: center;
    padding: 6px 8px;
    transition: box-shadow 1s ease;
}

showcase p close {
    position: absolute;
    right: 8px;
    background: #000;
    cursor: pointer;
    color: #751d2e;
}

showcase p close:hover {
    color: #6d0a1e;
    font-weight: bold;
}

page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 100dvh;
    width: 100dvw;

    -webkit-user-select: none;
    user-select: none;

    pointer-events: none;
}

page > p {
    margin-top: 1em;
    font-size: 1.5em;
    color: #682d2d;
    text-shadow: #d071174e 0 0 10px;
    text-align: center;

    font-family: "Courier New", Courier, monospace;

    pointer-events: all;
}

div[logo] {
    max-height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    /*cursor: pointer;*/
    font-family: "Roboto", sans-serif;

    pointer-events: all;
}

div[logo] > p {
    position: absolute;
    --margin: 0.83em;
    text-align: center;

    font-size: max(min(40vw, 8.5em), min(19vw, 19vh));
    color: firebrick;
    transition: text-shadow 0.5s ease;

    pointer-events: none;
}

div[logo]:hover > p {
    text-shadow: #6d0a1e 0 0 55px;
}

div[logo] > quote {
    font-size: max(min(40vw, 8.5em), min(19vw, 19vh));
    color: rgb(117, 25, 25);
    animation: float 2.2s ease-in-out infinite;
    --sign: 1;
    --spost: 30px;

    pointer-events: none;
}

div[logo] > quote:first-of-type {
    margin-right: 1.2em;
    margin-top: 1.8em;
}

div[logo] > quote:last-of-type {
    /* margin-right: 40%; */
    --sign: -1;
    margin-bottom: 1.9em;
    transform: rotate(180deg);
}

@keyframes float {
    0% {
        translate: 0 0;
    }

    50% {
        translate: 0 calc(var(--spost) * var(--sign));
    }
}

div[logo] > p:first-of-type {
    margin-right: var(--margin);
    transform: rotate(270deg);
}

div[logo] > p:last-of-type {
    margin-left: var(--margin);
    transform: rotate(90deg);
}

hover {
    position: fixed;
    z-index: 9999;

    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

[mouse] {
    position: absolute;
    border-radius: 50%;
    /*background-color: firebrick;*/
    outline: 3px solid #cb1919;
    pointer-events: none;
    transform: translate(-50%, -50%);

    opacity: 1;

    filter: blur(8px);

}

[mouse].hidden {
    opacity: 0 !important;
}

[mouse]:not(.hovering) {
    width: 20px !important;
    height: 20px;
    transition: outline 0.4s, height .4s, width .4s, border-radius 0.4s, opacity .6s;
}

[mouse] > svg {
    /*display: none;*/
    opacity: 0;
    position: absolute;
}

[mouse].hovering {
    background-color: rgb(252, 168, 0);
    /*outline: 2px solid rgb(252, 168, 0);*/
    border-radius: 0;
    transition: outline 0.4s, height 0.4s, width 0.4s, border-radius 0.4s, opacity .6s;
}

[mouse].hoverIcon {
    /*width: 70px!important;*/
    /*height: 70px!important;*/

    padding: 10px;

    filter: none;
    outline: none;

    transform: translate(-50%, -50%) !important;

    transition: outline 0.4s, height 0.4s, width 0.4s, border-radius 0.4s, background-color .2s .1s;

    z-index: 10001;
}

[mouse].hoverIcon > svg > path {
    fill: var(--icon-color);
}

[mouse].like {
    --icon-color: #000;
    background-color: #800;
}

[mouse].unlike {
    --icon-color: #800;
    background-color: #000;
}

[mouse]:is(.like, .unlike) > svg#like-icon {
    /*display: block!important;*/
    opacity: 1;
    transition: opacity 0.4s .15s;
}

[mouse].star {
    --icon-color: #888100;
    background-color: rgb(35, 35, 35);
}

[mouse].star > svg#star-icon {
    opacity: 1;
    transition: opacity 0.4s .15s;
}

[mouse].arrow-down {
    --icon-color: #000;
    background-color: #800;
}

[mouse].arrow-down > svg#arrow-down-icon {
    opacity: 1;
    transition: opacity 0.4s .15s;
}

/* Fast mouse that follows every user movement */
[mouse]:not(.hovering, .hoverIcon) > [data-type="fast"] {
    position: absolute;
    pointer-events: none;
    transform: translate(50%, 50%);

    width: 5px;
    height: 5px;

    background-color: rgb(252, 168, 0);
}

[target="_blank"] > * {
    pointer-events: none;
}

background-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    display: block;
    transition: transform 1s;

    --x: 50%;
    --y: 50%;

    pointer-events: none;

    background-image: radial-gradient(circle at var(--x) var(--y), transparent 30px, rgb(25, 14, 14, .99) 120px),
            url("/assets/mouse-back.webp");
    background-size: cover;
    background-position: 50% 0;

    width: 100vw;
    height: 100vh;

    & > img {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
}

canvas#backgroundCanvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
}

[head] {
    --offSet: 105px;
    max-width: 90%;
    position: absolute;
    top: calc(10px - var(--offSet));
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: all 2s;
}

[head] > div[spotify] {
    /* Spotify container */
    max-width: 24em;
    position: relative;

    background-color: #1e1e1ee0;
    border-radius: 0.6em;
    padding: 10px;
    color: white;
    display: flex;

    min-width: 250px;
}

[head] > div[spotify] > a {
    /* Song link */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0.6em;
    cursor: alias;
}

[head] > div[spotify] > img {
    /* Song album image */
    border-radius: 0.3em;
    max-width: 24%;
    min-width: max(24%, 5em);
    aspect-ratio: 1;
    z-index: 99;
}

[head] > div[spotify] > div {
    /* Song information container */
    margin-left: 0.8em;
    font-size: 1.3rem;
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: space-between;

    overflow: hidden;
    white-space: nowrap;
}

[head] > div[spotify] > div > div[info] {
    /* Infos about the song */
    position: relative;
    cursor: text;
}

[head] > div[spotify] > div > div[info] > :is(t, p) {
    /* Artist and Title of song animation */
    display: inline-block;
    --end: 0px;
    animation: transl 10s ease-in-out infinite alternate forwards;
}

@keyframes transl {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(var(--end));
    }
}

[head] > div[spotify] > div > div[info] > c {
    /* Divider between artist and title of song */
    display: block;
}

[head] > div[spotify] > div > div[info] > p {
    /* Spotify artist */
    font-size: 1rem;
    color: rgb(153, 151, 151);
}

[head] > div[spotify] [other] {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

[head] > div[spotify] [other] p {
    /* Other stuff */
    font-size: 0.9rem;
    color: rgb(191, 180, 180);
}

[head] > div[spotify]:hover [other] p {
    color: rgb(237, 223, 223);
    /* font-weight: bold; */
}

[head] > div[spotify] [other] [icons] {
    z-index: 99999;
    max-height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

[head] > div[spotify] div[icons] > span {
    /* Explicit icon */
    display: none;
    aspect-ratio: 1;
    background: gray;
    color: black;
    font-weight: bold;
    font-size: .8rem;
    padding-block: 2px;
    padding-inline: 4.4px;
    border-radius: 2px;
}


[other] [icons] > a {
    /*cursor: copy;*/
}

[other] [icons] > a > svg > path {
    fill: #800;
    d: path("M12 26.031c0.156 0 0.344-0.031 0.469-0.125 0.344-0.219 8.094-5.156 10.75-10 1.125-2.063 1-4.844-0.281-7-1.125-1.906-3-2.969-5.25-2.969-3.094 0-4.781 1.656-5.688 3.063-0.906-1.406-2.625-3.063-5.688-3.063-2.281 0-4.125 1.063-5.281 2.969-1.281 2.156-1.375 4.938-0.25 7 2.625 4.844 10.406 9.781 10.719 10 0.156 0.094 0.313 0.125 0.5 0.125zM6.313 7.813c3.688 0 4.625 3.063 4.75 3.656 0.125 0.406 0.5 0.75 0.938 0.75 0.406 0 0.813-0.344 0.906-0.75 0.156-0.594 1.094-3.656 4.781-3.656 2.031 0 3.125 1.094 3.656 2.063 0.938 1.531 1.031 3.688 0.25 5.125-2.094 3.75-7.875 7.813-9.594 9-1.75-1.188-7.531-5.25-9.594-9-0.781-1.438-0.688-3.594 0.25-5.125 0.531-0.969 1.625-2.063 3.656-2.063z")
}

a.added:hover > svg > path {
    fill: #800;
    d: path("M12 26.031c0.156 0 0.344-0.031 0.469-0.125 0.344-0.219 8.094-5.156 10.75-10 1.125-2.063 1-4.844-0.281-7-1.125-1.906-3-2.969-5.25-2.969-3.094 0-4.781 1.656-5.688 3.063-0.906-1.406-2.625-3.063-5.688-3.063-2.281 0-4.125 1.063-5.281 2.969-1.281 2.156-1.375 4.938-0.25 7 2.625 4.844 10.406 9.781 10.719 10 0.156 0.094 0.313 0.125 0.5 0.125zM6.313 7.813c3.688 0 4.625 3.063 4.75 3.656 0.125 0.406 0.5 0.75 0.938 0.75 0.406 0 0.813-0.344 0.906-0.75 0.156-0.594 1.094-3.656 4.781-3.656 2.031 0 3.125 1.094 3.656 2.063 0.938 1.531 1.031 3.688 0.25 5.125-2.094 3.75-7.875 7.813-9.594 9-1.75-1.188-7.531-5.25-9.594-9-0.781-1.438-0.688-3.594 0.25-5.125 0.531-0.969 1.625-2.063 3.656-2.063z") !important;
}

a.added[title] > svg > path,
[other] [icons] > a:hover > svg > path {
    fill: #A00;
    d: path("M18.188 6.094c5.188 0 6.906 6 5.094 9.281-2.781 5.094-11.281 10.5-11.281 10.5s-8.531-5.406-11.281-10.5c-1.813-3.281-0.125-9.281 5.094-9.281 4.813 0 6.031 4.156 6.188 4.781 0.156-0.625 1.375-4.781 6.188-4.781z");
}

[head] > div[spotify] > div > div[time] {
    /* Spotify time container */
    display: flex;
    justify-content: center;
    align-items: center;
}

[head] > div[spotify] > div > div[time] t {
    /* Spotify time texts */
    font-size: 0.7em;
}

[head] > div[spotify] > div > div[time] bar {
    /* Spotify time bar */
    --temp: 0%;
    --height: 0.6em;
    --radius: 10px;
    position: relative;
    display: block;
    height: var(--height);
    /* width: 80%; */
    flex: auto;
    margin-inline: 8px;
    border-radius: var(--radius);

    background-color: #2b2b2b;
}

[head] > div[spotify] > div > div[time] bar::after {
    /* Spotify progress bar */
    content: "";
    background-color: white;
    position: absolute;
    top: 0;
    display: inline-block;
    border-radius: var(--radius);
    height: var(--height);
    width: var(--temp);
}

[head] > div[spotify] > div > div[time] bar > t {
    /* Spotify bar "Not playing" text */
    display: block;
    font-size: 10px;
    margin-inline: auto;
    width: fit-content;
}

[head] > div[info], [head] > div[online] {
    /* max-width: 5em; */
    background-color: #181818e0;
    border-radius: 0.6em;
    padding: 10px;
    color: white;
    margin: auto;
}

fake-footer {
    display: block;
    position: relative;
    width: 100vw;
}

links {
    /* top page links container */
    position: absolute;
    right: 15px;
    bottom: 20px;
    text-align: end;
    color: white;
}

links > div {
    /* links boxes container */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    width: 100%;
}

links div a {
    /* links boxe */
    display: flex;
    align-items: center;
    font-size: 1.3em;
    margin-right: 0.4em;
    margin-bottom: 0.2em;

    height: 34px;
    width: 34px;
    box-sizing: border-box;

    border-radius: 0.4em;
    background-color: rgba(137, 130, 67, 0.3);
    padding-inline: 5px;
    padding-block: 2px;
}

links a:hover {
    /* --col: rgb(0, 170, 255); */
    --col: firebrick;
    /* --col: rgb(14, 162, 148); */
    font-weight: bold;
    cursor: pointer;
    color: var(--col);
    fill: var(--col);
}

/* Content */

main {
    display: block;
    position: relative;
    margin-bottom: 100px;
    padding: 2vh;
    margin-top: 25px;

    max-width: 1200px;
    margin-inline: auto;
    min-height: calc(100vh + 100px);
}

main > div > h2 {
    /* Title of Content sub category */
    font-size: 2em;
    --margin: 1.4em;
    margin-top: var(--margin);
    margin-bottom: calc(var(--margin) / 2);
    position: relative;
}

main > div[i] > h1 {
    /* Bio bigger text */
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

main > div[i] > p {
    /* Text line of bio */
    font-size: 1.5em;
    margin-bottom: 0.3em;
}

/* Project list */

main > div[p] > div > div {
    /* Project container */
    margin-bottom: 1em;
}

main > div[p] > div > div > h3 {
    /* Title */
    font-size: 1.5em;
    display: inline-block;
}

main > div[p] > div > div > p {
    /* Description */
    color: #afa0a0;
    display: inline-block;
}

/* Pong canvas */
main > div[pong] {
    & > p {
        margin-top: -1em;
        margin-bottom: 0.5em;
    }
}

/* PaintCanvas  */
main > div[paint] > canvas#paintCanvas {
    cursor: crosshair;
}

main > div[paint] {
    &[data-status="loading"] {
        cursor: not-allowed;

        & > canvas {
            cursor: wait !important;
        }
    }

    & > p {
        margin-top: -1em;
        margin-bottom: 0.5em;
    }

    & > div.palette {
        display: flex;
        flex-wrap: wrap;
        max-width: 420px;
        background-color: #2b2b2b;

        gap: 2px 4px;
        padding: 2px;
        box-sizing: border-box;
        cursor: crosshair;

        & > button {
            border: none;
            padding: 0;

            width: 18px;
            height: 18px;
            cursor: pointer;
            display: block;

            background-color: var(--color);

            &.selected:after {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                border: 2px solid white;
                box-sizing: border-box;
            }
        }
    }

    &.cooldown > div.palette {
        background-color: #751d2e;
        cursor: not-allowed;
    }
}

/* Socket Connection info */

main > div[wss] {
    margin-block: 20px;
    padding: 5px 15px;

    --bg-color: #1e1e1ee0;
    background-color: var(--bg-color);

    border-radius: 5px;

    box-shadow: 0 4px 8px 6px rgba(0, 0, 0, 0.24);

    &[data-status="online"] {
        --bg-color: #051f04b0;
    }

    & > div.title {
        display: flex;
        /*justify-content: space-between;*/
        align-items: baseline;
        margin-bottom: 6px;

        & > h2 {
            font-size: 1.4em;
            margin-right: 1em;
        }
    }

    & > p {
        display: none;
    }

    &[data-status="offline"] {
        & > p {
            display: inline-block;
        }

        & > .chat {
            display: none;
        }
    }


    & > .chat {
        & > .client {
            display: flex;
            flex-direction: column;
            align-items: baseline;

            & > input#username {
                appearance: none;
                background: none;
                border: none;

                color: white;
                outline: none;

                padding-left: 7px;
                width: 100%;
                box-sizing: border-box;
            }

            & > div {
                display: flex;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.6);
                border-radius: 4px;
                padding: 6px 12px;

                box-sizing: border-box;

                & > textarea {
                    appearance: none;
                    background: none;
                    border: none;
                    color: white;
                    flex: auto;

                    resize: none;
                    outline: none;

                    height: 1rem;

                    &:hover {
                        cursor: text;
                    }

                    -ms-overflow-style: none;
                    scrollbar-width: none;
                    ::-webkit-scrollbar {
                        display: none;
                    }
                }

                & > button {
                    appearance: none;
                    background: none;
                    border: none;
                    color: white;

                    cursor: pointer;
                    height: 20px;
                    padding: 0;

                    &[disabled] > svg path {
                        stroke: #800;
                    }
                }
            }
        }

        & > .messages {
            margin-top: 10px;
            padding-inline: 10px;
            display: flex;
            flex-direction: column;

            gap: 8px;

            max-height: 180px;
            overflow-y: auto;

            & > .box * {
                white-space: pre-wrap;
                word-break: break-all;
            }
        }

        & > p {
            margin-top: 1em;
            font-size: .8rem;
        }
    }
}

/* Favourite artists */

main > div[f] > c {
    /* Last.fm images text */
    margin-top: -1em;
    display: block;
    margin-bottom: 1em;
}

main > div[f] > div {
    /* Arists divs container */
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: center;
    margin-bottom: 1em;

    transition: transform .777s, transform-origin .377s, filter .777s;
}

main > div[f] > div:hover {
    --y: 50%;
    --x: 50%;
    --shadow-x: 0;
    --scale: 1;

    transition: transform .777s;

    transform-origin: var(--x) var(--y);
    transform: scale(var(--scale));
    filter: drop-shadow(var(--shadow-x) 20px 6px rgba(0, 0, 0, 0.3))
}

main > div[f] > div > div {
    /* Artist div */
    --offset: 0px;
    position: relative;
    max-width: 200px;
    width: min(200px, max(16vw, 140px));
    margin-bottom: var(--offset);
}

main > div[f] > div > div > img {
    /* Image of the artist */
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;

    pointer-events: none;
}

main > div[f] > div > div > span {
    /* Name of the artist */
    position: absolute;
    width: fit-content;
    bottom: 5px;
    left: 5px;
    z-index: 100;
    font-size: 1.1em;
    mix-blend-mode: difference;

    pointer-events: none;
}

/* Song of the Day */

main > div[s] > h2 > a {
    position: absolute;
    font-size: 12px;
    top: 20px;
    right: 0;
    cursor: pointer;
}

main > div[s] > div#sotd {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    max-height: 143px;
    overflow: hidden;

    &.open {
        max-height: 400px;
        overflow-y: auto;
    }
}

main > div[s] > div > div {
    background-color: #00000093;
    border-radius: 7px;
    padding: 7px;
    display: flex;
    gap: 1em;
    width: 250px;
}

main > div[s] > div > div > img {
    height: 51px;
    width: 51px;
    border-radius: 5px;
}

main > div[s] > div > div > div:first-of-type {
    width: 100%;
    max-width: 160px;
}

main > div[s] > div t {
    /* Title */
    display: inline-block;
    font-size: 1.1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: min(210px, 100%);
    font-weight: bold;
}

main > div[s] > div p {
    /* Author */
    font-size: 0.8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: min(210px, 100%);
    width: fit-content;
}

main > div[s] > div c {
    /* Infos */
    font-size: 0.8em;
    display: inline-block;
    margin-top: 7px;
    color: #8b8d8b;
}

/* Social Links */

main > div[sl] > div {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;

    & > a {
        gap: 0.5em;
        font-size: 1.2em;
        width: 40px;
        height: 40px;

        line-height: 58px;
        text-align: center;

        border-radius: 5px;
        background-color: rgba(137, 130, 67, 0.3);
        color: white;
        transition: background-color 0.3s;
    }
}

/* Telefono */
@media screen and (max-width: 420px) {
    links div a svg {
        padding-right: 0;
    }

    main > div[f] > div > div {
        margin-bottom: 0 !important;
    }

    page > t {
        transition: all 1s;
        scale: 0.5;
    }

    main > div[f] > div > div {
        width: min(max(48%, 130px), min(300px, max(18vw, 140px)));
    }
}

@media screen and (max-width: 756px) {
    main > div[f] > div > div {
        margin-bottom: 0 !important;
    }
}

@media (any-hover: none) {
    links c {
        --col: rgb(0, 123, 255);
        font-weight: bold;
        cursor: pointer;
        color: var(--col);
        fill: var(--col);
    }

    links {
        bottom: 40px;
    }

    .nomobile {
        display: none !important;
    }
}